---
interface Props {
	title: string;
	description: string;
	icon: string;
	link: string;
	borderColor: string;
	textColor: string;
}

const { title, description, icon, link, borderColor, textColor } = Astro.props;
---

<article
	class={`flex flex-col items-center  p-[4px] max-w-96 lg:max-w-none relative rounded-2xl bg-gradient-to-t from-purple-normal ${borderColor} hover:rotate-1 hover:scale-105 transition-transform duration-300`}
>
	<div class='h-full bg-purple-darker rounded-2xl p-6 flex flex-col items-center gap-4 text-center'>
		<div class='w-20 h-20 p-2 bg-purple-2 rounded-full'>
			<img src={icon} alt={`Icono de ${title}`} class='w-full h-full' />
		</div>
		<h3 class={`${textColor} text-xl font-medium`}>{title}</h3>
		<p class='text-purple-light text-center'>{description}</p>
		<!-- <a
			href={link}
			class='px-6 py-2 text-white border border-purple-normal rounded-full hover:bg-purple-normal/10 transition-colors mt-auto'
		>
			saber más
		</a> -->
	</div>
</article>
